html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: rgb(91, 146, 207) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.nav-item {
    padding: 0 1rem;
}

@media (max-width: 40rem) {
  .navbar:not(.top-nav-collapse) {
    background: rgb(91, 146, 207) !important;
  }
}

.bg-image {
    background-image: url('../img/banff-mountains.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
  letter-spacing: 0.5rem;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

/* PLACES SECTION */

.section__places {
  margin: 0 1.3rem;
}

.img-fluid {
  width: 100%;
  max-width: 35rem;
}

@media (min-width: 40rem) {
  max-width: 100%;
}